*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    position: relative;
    width: 100%;
    padding: 2em;
    background-color: black;
    margin: auto;
}
.header {  
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2.5em 5.5em 3em 5.5em;
    height: 60vh;
}
.navbar {
    width: 90%;
    border-radius: 20px;
    z-index: 11;
}
.navbar_items {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.navbar_connexion {
    text-decoration: none;
    color: white;
    padding: 1.1em;
}
.navbar_connexionLi, .navbar_enregistrementLi {
    display: flex;
    justify-content: center;
}
.navbar_connexionLi {
    margin-left: 40vw;
}
.navbar_enregistrement {
    text-decoration: none;
    color: white;
    padding: 1.1em;
}
.navbar_dashboard {
    display: none;
    text-decoration: none;
    color: white;
    padding: 1.1em;
    cursor: pointer;
    margin-left: 42.5vw;
}
.navbar_logout {
    display: none;
    text-decoration: none;
    color: white;
    padding: 1.1em;
    cursor: pointer;
}
.navbar_logout a, .navbar_dashboard a {
    text-decoration: none;
    color: white;
}
.navbar_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}
.navbar li{
    width: 100%;
}
.navbar_item p, .navbar_item2 p {
    margin-left: 0.75em;
    font-size: 1.50vw;
}
.main_h1 {
    display: flex;
    margin-top: 4.75em;
    color: rgba(255, 255, 255, 0.815);
    mix-blend-mode: exclusion;
    font-size: 5.3vw;
    justify-content: center;
    font-family: 'Prompt', sans-serif;
}
.h1Crypto {
    color: white;
    text-align: center;
    margin: 2em;
    font-size: 4vw;
    font-family: 'Prompt', sans-serif;
}
.text {
    color: white;
    width: 100%;
}
.textOne {
    width: 80%;
    display: flex;
    margin: auto;
    flex-direction: row;
    background-size: 100%;
    background-image: url('../images/759.png');
    box-shadow: 0 0 0 30em rgba(8, 8, 8, 0.438) inset;
    border-radius: 30px;
}
.textTwo {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-size: 100%;
    margin-top: 16em;
    background-position: center;
    background-image: url('../images/pexels-guillaume-meurice-3757231.jpg');
    box-shadow: 0 0 0 30em rgba(8, 8, 8, 0.493) inset;
    border-radius: 30px;
}
.blocTextend {
    display: flex;
    justify-self: flex-end;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: inherit;
    text-align: end;
}
.blocTextend .h2 {
    margin-right: 2em;
}
.blocText {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: inherit;
}
.h2 {
    font-family: 'Prompt', sans-serif;
    font-size: 2em;
    margin-top: 2em;
    text-align: center;
}
.textPara {
    font-size: 1.3em;
    font-family: 'Cairo', sans-serif;
    margin: 4.5em;
    margin-top: 2em;
}
.para2 {
    margin: 3em;
}
.overlayFormNotValid, .overlayAuthNotValid {
    display: none;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;    
    transform:translate(-50%, -50%);
    border: red 1px solid;
    padding: 1em;
    background-color: white;
    text-align: center;
    font-weight: bold;
}

/* Images : */

.img_bcg {
    display: flex;
    justify-self: center;
    margin: auto;
    background: url('../images/pexels-meryl-katys-6978708.jpg') no-repeat;
    min-width: 100%;
    height: 140vh;
    border-radius: 30px;
    background-size: cover;
}
.img_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4vw;
    border-radius: 100%;
}
.img_crypto {
    width: 4em;
}
.img_upandlow {
    width: 0.75em;
}
.img2 {
    position: absolute;
    top: 0;
}

/* Footer : */

.gnlFooter {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    margin-top: 5em;
    background-color: rgba(255, 255, 255, 0.096);
    color: white;
    border: white 3px solid;
    font-family: 'Cairo', sans-serif;
    text-align: center;
}
.linkedin img {
    width: 3%;
    margin: 0.5em;
}
.github img {
    width: 3%;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.096);
    margin: 0.5em;
}
.randomLine {
    position: absolute;
    top: 0;
    right: 2em;
    background-color: rgb(252, 249, 249);
    padding: 2em;
}
.copyright {
    font-size: 1.5em;
}
h4 {
    font-size: 1.5em;
}

/* Modales : */

#modalRegistration, #modalConnect, #modalBuild {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.418);
    font-family: 'Cairo', sans-serif;
}
.modal-card, .modalBuildDiv {
    position: absolute;
    top: 50%;
    left: 50%;    
    min-height: 40%;
    min-width: 17.5%;
    transform:translate(-50%, -50%);
    background-color: #e9e9e9;
    border-radius: 10px;
}
.modalBuildDiv {
    display: flex;
    align-items: center;
    padding: 1em;
    background-image: url(../images/1604.m00.i105.n002.S.c12.227734471\ Web\ application\ development\ process.jpg);
    background-size: 100%;
    box-shadow: 0 0 0 30em rgba(8, 8, 8, 0.705) inset;
}
.main_h1--2 {
    background-color: none;
    font-size: 1.2em;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}
.modal-card-title {
    text-align: center;
    background: rgb(0,51,105);
    background: linear-gradient(270deg, rgb(83, 150, 238) 23%, rgba(255, 0, 0, 0.507) 71%);
    color: white;
    padding: 1em;
    
}
.formRegistration {
    height: 100%;
    background-color: #e9e9e9;
    overflow: hidden;
    border-radius: 10px;
}
.field {
    display: flex;
    flex-direction: column;
    padding: 0.5em 2em 0.5em 2em;
}
.field label {
    font-weight: 600;
}
.field input {
    border: none;
    border-bottom: 0.1em solid black;
    margin-top: 0.35em;
    background-color: transparent;
}
.field input:focus {
    outline: none;
}
a:focus {
    outline: none;
}
.modal-card-foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5em;
    padding-bottom: 2em;
}
.btnForm {
    border: none;
    background-color: rgb(83, 150, 238);
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: .5s;
}
.btnForm:focus {
    outline: none;
}
.btnForm:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    height: 1.75em;
    width: 1.75em;
    margin: 0.5em;
    border: 1px solid transparent;
    border-radius: 100%;
    background-color: red;
    color: white;
    cursor: pointer;
    font-weight: 600;
}
.close:focus {
    outline: none;
}

